body {
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            background-color: #f4f4f4;            
            background-image:url("https://c.wallhere.com/photos/73/c0/Formula_1_Nigel_Mansell_car-118995.jpg!d");
            background-position: center;
            margin: 0;
            padding: 0;
            color: #333;
        }

        header {
            background-color: #025483;
            color: #ecf0f1;
            text-align: center;
            padding: 10px;
            
        }

        nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background-color: #025483;
            padding: 2px;
            text-align: center;
        }

        nav h1{
            color: #FFFFFF;
            font-family: Consolas, monaco, monospace;
            text-shadow: 1px 1px 8px rgba(0,0,0,1);
            background-color: #023857;
            border-radius: 10px;
            margin: 0 10px;
            font-size: 110%;
        }

        nav a {
            text-decoration: none;
            font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
            text-shadow: 1px 1px 8px rgba(0,0,0,1);
            color: #ecf0f1;
            padding: 2px;
            margin: 0 10px;
            font-weight: 3px;
            transition: color 0.3s ease-in-out;
        }

        nav a:hover {
            color: #000000;
            background-color: #FFFFFF;
            border-radius: 10px;
        }

        section {
            margin: 20px auto;
            max-width: 900px;
            border-radius: 5px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
            h2 {
                text-align: center;
                text-shadow: 3px 3px 2px rgba(0,0,0,0.1);
                font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
                font-weight: bold;
        }
            p {
                font-weight: bold;
                font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                
        }

            img{
                display: block;
                margin: auto;
                border-radius: 10px;
                box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
        }

        footer {
            font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
            text-shadow: 1px 1px 8px rgba(0,0,0,1);
            background-color: #023857;
            color: #ecf0f1;
            text-align: center;
            font-weight: 3px;
            font-size: 90%;
            padding: 15px;
            position: fixed;
            bottom: 0;
            width: 100%;

            
        }


target {
    position: absolute;
    background-color: #B81414;
    border-radius: 50%;
}

/* Style du cadre de jeu */
#frame_game {
    width: 600px; /* Largeur du cadre de jeu */
    height: 500px; /* Hauteur du cadre de jeu */
    margin: 0 auto; /* Centre le cadre horizontalement */
    border: 2px solid #333; /* Ajoute une bordure au cadre */
    position: relative; /* Définit la position relative pour que les éléments enfants puissent être positionnés par rapport à lui */
}

/* Style des boutons */
button {
    font-size: 20px;
	font-family: Consolas, monaco, monospace;
	font-weight: bold;
	cursor: pointer;
	border: none;
	border-radius: 20px;
	background-color: #007bff;
	color: #fff;
	padding: 7px 20px;
	margin: 5px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0056b3; /* Couleur de fond des boutons au survol */
}

#restartButton {
    padding: 30px 80px; /* Ajoute un espace de remplissage autour du texte */
    margin: 5px; /* Ajoute une marge autour des boutons */
    font-size: 20px; /* Taille de la police */
    cursor: pointer; /* Curseur de la souris sur les boutons */
    border: none; /* Supprime les bordures des boutons */
    border-radius: 20px; /* Ajoute une bordure arrondie aux boutons */
    background-color: #007bff; /* Couleur de fond des boutons */
    color: #fff; /* Couleur du texte des boutons */
}

#restartButton:hover {
    background-color: #0056b3; /* Couleur de fond des boutons au survol */

}
#easyButton {
    padding: 20px 50px; /* Ajoute un espace de remplissage autour du texte */
    margin: 5px; /* Ajoute une marge autour des boutons */
    font-size: 20px; /* Taille de la police */
    cursor: pointer; /* Curseur de la souris sur les boutons */
    border: none; /* Supprime les bordures des boutons */
    border-radius: 20px; /* Ajoute une bordure arrondie aux boutons */
    background-color: #82E40C; /* Couleur de fond des boutons */
    color: #fff; /* Couleur du texte des boutons */
}

#easyButton:hover {
    background-color: #487E06; /* Couleur de fond des boutons au survol */
}

#mediumButton {
    padding: 20px 50px; /* Ajoute un espace de remplissage autour du texte */
    margin: 5px; /* Ajoute une marge autour des boutons */
    font-size: 20px; /* Taille de la police */
    cursor: pointer; /* Curseur de la souris sur les boutons */
    border: none; /* Supprime les bordures des boutons */
    border-radius: 20px; /* Ajoute une bordure arrondie aux boutons */
    background-color: #F5A608; /* Couleur de fond des boutons */
    color: #fff; /* Couleur du texte des boutons */
    
}

#mediumButton:hover {
    background-color: #CB6C00; /* Couleur de fond des boutons au survol */
}
#hardButton {
    padding: 20px 50px; /* Ajoute un espace de remplissage autour du texte */
    margin: 5px; /* Ajoute une marge autour des boutons */
    font-size: 20px; /* Taille de la police */
    cursor: pointer; /* Curseur de la souris sur les boutons */
    border: none; /* Supprime les bordures des boutons */
    border-radius: 20px; /* Ajoute une bordure arrondie aux boutons */
    background-color:#DA0000; /* Couleur de fond des boutons */
    color: #fff; /* Couleur du texte des boutons */
}

#hardButton:hover {
    background-color: #A00101 ; /* Couleur de fond des boutons au survol */
}

#durationButtonsContainer {
    display: flex;
    flex-wrap: wrap; /* Pour permettre le retour à la ligne si nécessaire */
    justify-content: center; /* Pour centrer les boutons horizontalement */
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button, #restartButton {
    margin-top: 10px;
}
#messageContainer {
    margin-top: 20px; /* Ajoute une marge supérieure pour déplacer les messages vers le bas */
}
#label{
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-weight: bold;
	font-size: 120%;
}
clickButton {
    padding: 10px 20px; 
    margin: 5px; 
    font-size: 16px; 
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
}
.main-button {
    background-color: #4CAF50; /* Vert */
    border: none;
    color: white;
    padding: 50px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
	font-family: Consolas, monaco, monospace;
	font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.main-button:hover {
    background-color: #45a049; /* Vert foncé lorsqu'il est survolé */
}
#restartButton2{
	padding: 20px 100px; /* Ajoute un espace de remplissage autour du texte */
    margin: 5px; /* Ajoute une marge autour des boutons */
    font-size: 20px; /* Taille de la police */
	font-family: Consolas, monaco, monospace;
	font-weight: bold;
    cursor: pointer; /* Curseur de la souris sur les boutons */
    border: none; /* Supprime les bordures des boutons */
    border-radius: 20px; /* Ajoute une bordure arrondie aux boutons */
    background-color: #DA0000; /* Couleur de fond des boutons */
    color: #fff;
}
#restartbutton2:hover{
	background-color: #A00101 ;
}
#labelScore{
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-weight: bold;
	font-size: 200%;
}














